<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org://">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <p th:text="${addProductMessage}" style="color: red"></p>
        <div class="row">
            <div class="col-lg-12">
                <div class="login_form_inner register_form_inner">
                    <h3>Add a new product</h3>
                    <form th:object="${productDto}" class="row login_form" action="/product" method="post" id="register_form" enctype="multipart/form-data">
                        <div class="col-md-12 form-group">
                            <input  th:field="*{name}" type="text" class="form-control" id="name" name="name" placeholder="Product Name"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product Name'">
                            <label th:errors="*{name}" style="color: red"></label>
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{price}" type="number" class="form-control" id="price" name="price" placeholder="Price"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Price'">
                            <label th:errors="*{price}" style="color: red"></label>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="filter-bar d-flex flex-wrap align-items-center">
                                <select name="category" id="category" class="form-control">
                                    <option th:each="categoryOpt : ${T(com.example.demo.model.enums.Category).values()}"
                                            th:value="${categoryOpt}" th:text="${categoryOpt}"></option>
                                </select>
                                <label th:errors="*{category}" style="color: red"></label>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea th:field="*{description}" class="form-control" id="productDescription" name="productDescription"
                                          placeholder="Product Description"
                                          onfocus="this.placeholder = ''"
                                          onblur="this.placeholder = 'Product description'"> </textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <input th:field="*{quantity}" type="number" class="form-control" id="quantity" name="quantity"
                                       placeholder="Quantity"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Quantity'">
                                <label th:errors="*{quantity}" style="color: red"></label>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="file" class="form-control" id="productImage" name="productImage"
                                       placeholder="productImage"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product image'"
                                        accept="image/*">
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="button button-register w-100">Add
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add product</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<!--</head>-->
<!--<br>-->
<!--<body>-->
<!--<div class="container text-center">-->
<!--    <p th:text="${addProductMessage}"></p>-->
<!--    <h3 style="color: hotpink"> Add a new product </h3>-->
<!--    <form method="post" action="/product" th:object="${productDto}">-->
<!--        <div class="m-3">-->
<!--            <div class="form-group row">-->
<!--                <label for="firstName" class="col-4 col-form-label">Name: </label>-->
<!--                <div class="col-4">-->
<!--                    <input type="text" class="form-control" id="firstName" th:field="*{name}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div class="form-group row">-->
<!--                <label for="price" class="col-4 col-form-label">Price: </label>-->
<!--                <div class="col-4">-->
<!--                    <input type="number" class="form-control" id="price" th:field="*{price}">-->
<!--                    <label th:errors="*{price}"></label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div class="form-group row">-->
<!--                <label for="phoneNumber" class="col-4 col-form-label">Description: </label>-->
<!--                <div class="col-4">-->
<!--                    <input type="text" class="form-control" id="phoneNumber" th:field="*{description}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div class="form-group row">-->
<!--                <label for="quantity" class="col-4 col-form-label">Quantity: </label>-->
<!--                <div class="col-4">-->
<!--                    <input type="number" class="form-control" id="quantity" aria-describedby="emailHelp" th:field="*{quantity}">-->
<!--                    <label th:errors="*{quantity}"></label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div class="form-group row">-->
<!--                <label class="col-4 col-form-label">Choose category: </label>-->
<!--                <div class="col-4">-->
<!--                    <input type="radio" th:field="*{category}" value="LAPTOPS" />LAPTOPS-->
<!--                    <input type="radio" th:field="*{category}" value="MOBILE" />MOBILE-->
<!--                    <input type="radio" th:field="*{category}" value="PRINTING" />PRINTING-->
<!--                    <input type="radio" th:field="*{category}" value="TV" />TV-->
<!--                    <input type="radio" th:field="*{category}" value="MONITORS" />MONITORS<br/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <button type="submit" class="btn btn-primary">Save</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->